*{
    padding: 0;
    margin: 0;
    /* background-color: #F5F5DC; */
    
}



/*************MENU******************/

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: auto;
    list-style: none;
}

.menu_btn{
    text-decoration: none;
    font-size: 22px;
    margin: 0 50px 0 50px;
    font-family: "Roboto Condensed", serif;
    color: #000080;
}

.li{
    width: 150px;
    text-align: center;
}

.a{
    font-size: 22px;
    color: black;
    text-decoration: none;
}

/*************MAİN******************/
.main{
    display: flex;
    height: 1920px;
    /* position:relative; */
    justify-content: center;
    gap: 50px;

}

.books{
    margin: 10px;
    background-color: #F5F5DC;
    width: 200px;
    height: 360px;
    display: flex;
    float: left;

}
.book_photo{
    height: 200px;
    width: 160px;
    margin: 20px;

}
.book_title{
    display: relative;
    text-align: center;
    font-family: "Roboto Condensed", serif;
}

